extends layout
block content
    div.jumbotron
        h1.text-center Dance Battle
        h2.text-center by Mike Sherry
    div.container
        div.row
            label(for="danceInput") Input
            textArea#danceInput.form-control(rows="10", name="input")
        div.row
            button#runButton.btn.btn-default(type="submit") Dance!
    div.container
        div.row
            div.col-xs-6
                div#results.col-xs-12.well
            div.col-xs-6
                div#trace.col-xs-12.well
